/* Theme */

main {
    background: rgb(211, 210, 216);
    color: black;
}

a {
    background: rgb(211, 210, 216) !important;
    color: black;
    text-decoration: none !important;
}

.icons-social a {
    color: black;
}

.icons-social a:hover,
.icons-social a:active {
    color: #0070f3;
}

.icons-social a svg path {
    fill: white;
}
