/* Theme */

main {
    background: darkgray;
    color: black;
}

a {
    background: darkgray !important;
    color: black;
    text-decoration: none !important;
}

.icons-social a {
    color: black;
}

.icons-social a:hover,
.icons-social a:active {
    color: white !important;
}

.icons-social a svg path {
    fill: black;
}
